%ul#square-nav
  
  %li.my-square.nav-box.square-normal
    -# =image_tag('big-jf.png', :class=> "big-letter")
    =link_to('about', "", :remote => true)
    %span about
    .close-btn.close-about.drop.nav-box.hidden    
      %a{:href => ""} back
      %p
        =image_tag("back-arrow.png")
        =image_tag("back-arrow-teal.png", :class=>"back-highlight")
        back
      %h2 About
    .bottom-right.drop.nav-box
      %p Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a. Sem facilisis semper ac in est.
      %b
    .bottom-right-right.drop.nav-box
      %p Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi.
      %br
      %p nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at.
      

    .top-right-right.drop.nav-box
      =image_tag("about-pic.png")
      
  %li#work.square-normal.nav-box
    -# =image_tag('big-w.png', :class=> "big-letter")
    =link_to('work', "", :remote => true)
    %span work
    .close-btn.close-work.drop.nav-box.hidden
      %h5 Work
      %a{:href => ""} back
      %p
        =image_tag("back-arrow.png")
        =image_tag("back-arrow-cyan.png", :class=>"back-highlight")
        back
    .top-left.drop.nav-box
      %h5 featured
      =link_to('sbnu', featured_sbnu_path, :class=> "blueish")
    .bottom-left.drop.nav-box
      %h5 recent
      =link_to 'vakko fashion', { :controller => "projects", :action => "vakko" }, :remote => true, :class => 'slider-link purple'
    .bottom-right.drop.nav-box
      =link_to 'other clients', { :controller => "projects", :action => "nate" }, :remote => true, :class => 'slider-link green'
    .blank-nav-box.drop.nav-box

  %li#contact.square-normal.nav-box
    -# =image_tag('big-c.png', :class=> "big-letter")
    =link_to('contact', "", :remote => true)
    %span contact
    .close-btn.close-contact.drop.nav-box.hidden
      %a{:href => ""} back
      %p
        =image_tag("back-arrow.png")
        =image_tag("back-arrow-yellow.png", :class=>"back-highlight")
        
        back
    #contact-box.hidden.left-box.drop
      %h2 Contact
    #contact-box.hidden.drop
      %p Email is the best way to reach me.
      =link_to('johnsfuller@gmail.com', 'mailto:johnsfuller@gmail.com')
      %br
      %br
      %p Or a phone call.
      =link_to('202-681-8640', 'callto:2026818640')
  %li#contact-form.hidden.square-normal.nav-box.drop
    %p write me here
    textfield
    submit button

  %li#resume.square-normal.nav-box
    -# =image_tag('big-r.png', :class=> "big-letter")
    =link_to('resume', "", :remote => true)
    %span resume
    .close-btn.drop.nav-box.hidden
      %a{:href => ""} back
      %p
        =image_tag("back-arrow.png")
        =image_tag("back-arrow-magenta.png", :class=>"back-highlight")
        back
    .top-top-left.drop.nav-box
    .top-left.drop.nav-box
    .top-top-right.drop.nav-box
      .circle-button
        =link_to 'html', { :controller => "resume", :action => "index" },data: {remote: true, type: "script"}, :class => 'slider-link half-circle'
        =link_to 'PDF', static_pages_resume_pdf_path, :class => 'half-circle-bottom half-circle'
        
      .text
        %h2 Resume
        %p References provided upon request at:
        =link_to('johnsfuller@gmail.com', 'mailto:johnsfuller@gmail.com')
        

= render "shared/project_slider"
    
