%ul#square-nav
  
  %li.my-square.nav-box
    =link_to('about', about_path)
    %span about

  %li#work.square-normal.nav-box
    %a{:href => "#"} work
    %span work
    .close-btn.drop.nav-box.hidden
      %a{:href => "#"} back
    .top-left.drop.nav-box
      %h5 featured
      =link_to('sbnu', featured_sbnu_path)
    .bottom-left.drop.nav-box
      %h5 recent
      =link_to 'vakko fashion', { :controller => "projects", :action => "vakko" }, :remote => true, :class => 'slider-link'
    .bottom-right.drop.nav-box
      =link_to 'other projects', { :controller => "projects", :action => "nate" }, :remote => true, :class => 'slider-link'
    .blank-nav-box.drop.nav-box

  %li#contact.square-normal.nav-box
    %a{:href => "#"} contact
    %span contact
    .close-btn.close-contact.drop.nav-box.hidden
      %a{:href => "#"} back
    #contact-box.hidden.left-box.drop
    #contact-box.hidden.drop
      %p The best way to reach me is with an email.
      =link_to('johnsfuller@gmail.com', 'mailto:johnsfuller@gmail.com')
      %br
      %p my phone number is
      =link_to('202-681-8640', 'callto:2026818640')
  %li#contact-form.hidden.square-normal.nav-box.drop
    %p write me here
    textfield
    submit button

  %li#resume.square-normal.nav-box
    =link_to('resume', "", :remote => true)
    %span resume      
    .close-btn.drop.nav-box.hidden
      %a{:href => "#"} back
    .top-top-left.drop.nav-box
      %h5 view as
      =link_to 'html', { :controller => "resume", :action => "index" },data: {remote: true, type: "script"}, :class => 'slider-link'
= render "shared/project_slider"
