= render "shared/header"

#background
  %h2 About me
  %p In brief, I live in Baltimore where I enjoy reading, playing chess, eating crabs, living on a boat and traveling when I get the chance.

#resume
  %h2 Resume
  =link_to('go to resume', resume_path)
  %span or
  =link_to 'download as PDF', static_pages_resume_pdf_url
#featured-projects.clearfix
  %h2 featured web projects
  .featured-project
    %p.project-link{:style => 'color:#667;margin-bottom:0'} Athena Custom Ad Unit
    =link_to("The Internet Advertising Bureau Features VOX's Athena Unit",{ :controller => "projects", :action => "iab" }, :remote => true, :class => 'project-link')
    %p Athena is a high impact ad unit providing minor disruption to the user through interactions tied to the browser's natural scrolling behavior.
  .featured-project
    %p.project-link{:style => 'color:#667;margin-bottom:0'} SB Nation Network Redesign
    =link_to('Society of News Design Awards SB Nation, Best Designed Website of 2012',{ :controller => "projects", :action => "sbnu" }, :remote => true, :class => 'project-link')
    %p.quote 'It's beautiful and visually compelling without gimmicks.'
    =link_to('read article', 'http://www.snd.org/2013/03/meet-snds-2012-worlds-best-news-sites-and-apps-sb-nation-lenta-ru-and-the-guardian-and-observer-ipad-app/', :target => 'blank')
#recent-projects.clearfix.clear-b

= render "shared/footer"
