= render "shared/header"

#summary
  %h2 Summary
  %p Professionally, I’ve enjoyed six years working with at-scale digital publishing brands. Currently, I work on contracts and freelance projects. At my various professional roles I've worked as either a designer, a frontend or a mix of the two. Having a fine arts background, combined with a degree in print design, plus years pursuing optimal frontend methods while happily stumbling through rails apps; I've wound up with an interestingly rounded skill set, bridging design and development.
  %p With a dedicated eye towards learning and improvement, I use my professional visual and UI/UX design experiences to help guide my implementation of front-end code in a manner that compliments the design’s intentions, while remaining cohesive with the backend technologies used.
  
%h2 Resume
%h6 
  =link_to('view resume', static_pages_resume_path)

%h2 featured projects
%h5(data-project-name="IAB, Athena") IAB, Athena
=link_to 'IAB, Athena', { :controller => "projects", :action => "iab" }, :remote => true, :class => 'project-link'

%p  Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
%h5 Society of News Design
=link_to 'Society of News Design', { :controller => "projects", :action => "sbnu" }, :remote => true, :class => 'project-link'
%p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.

%h2 recent projects
%h5 vakko
=link_to 'Vakko', { :controller => "projects", :action => "vakko" }, :remote => true, :class => 'project-link'
%p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
%h5 nate mcgarigal
=link_to 'Nate Mcgarigal', { :controller => "projects", :action => "nate" }, :remote => true, :class => 'project-link'
%p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.

= render "shared/footer"
= render "shared/project_slider"
