= render "shared/header"

%h2 Resume
%p No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.

%h2 featured projects
%h5 IAB, Athena
%p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
%h5 Society of News Design
%p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.

%h2 recent projects
%h5 vakko
%p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
%h5 nate mcgarigal
%p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.

= render "shared/footer"
= render "shared/project_slider"
