%header
  %h1
    John Fuller
    %h1
      %h3#what-he-do visual & interaction focused frontend developer
      %ul
        %li johnsfuller@gmail.com
        %li (202) 681-8640
        %li 216 W. Lorraine Ave
        %li Baltimore, MD 21211
#summary
  %h2 Summary
  %p Professionally, I’ve enjoyed six years working with at-scale digital publishing brands. Currently, I work on contracts and freelance projects. At my various professional roles I've worked as either a designer, a frontend or a mix of the two. Having a fine arts background, combined with a degree in print design, plus years pursuing optimal frontend methods while happily stumbling through rails apps; I've wound up with an interestingly rounded skill set, bridging design and development.
  %p With a dedicated eye towards learning and improvement, I use my professional visual and UI/UX design experiences to help guide my implementation of front-end code in a manner that compliments the design’s intentions, while remaining cohesive with the backend technologies used.
%h2 Employment
.job-container.clearfix
  %ul.job-info
    %li.job-company
      FREELANCE
      %span.job-location Baltimore, MD
    %li.job-title Visual Design & Front End Dev
    %li.job-date 2013-present
  .job-description
    %p The bulk of my freelance work has been responsive frontend development. In addition, I'm typically responsible for visual QA, quickly acclimating with teams or working solo and managing the development process by myself.
    %p My most recent project is a photographer's portfolio that I setup using 3rd party APIs so he could manage content from his existing flickr and vimeo accounts. The use of APIs was an elaborate and successful effort towards wordpress avoidance.
  %figure.job-images.resume-slider-first
    %div
      =image_tag('logo-me.png', :class => 'rsImg')
      %figure.rsCaption
    %div
      =image_tag('slide-vakko.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://vakko.herokuapp.com", :target => "_blank"} Vakko Fashion corp. site
    %div
      =image_tag('slide-nate.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://nathanmcgarigal.com", :target => "_blank"} Nate Mcgarigal, photography portfolio
    %div
      =image_tag('slide-bandr.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://bandr.com/issue003/", :target => "_blank"} Bar & Restaurant Magazine
.job-container.clearfix
  %ul.job-info
    %li.job-company
      Vox Media
      %span.job-location Washington, DC
    %li.job-title Lead Designer
    %li.job-date 2010-2013
  .job-description
    %p At Vox I had the pleasure of working on an incredibly talented product team. Being with Vox through a period of rapid growth provided a rich educational experience, that I appreciate greatly. I worked primarily as a visual and UI designer, within a rails environment. I was responsible for communication with developers, designers, frontend devs, product owners, advertising etc.
    %p My most significant project with Vox was leading the SB Nation Network redesign. It consisted of systematically rebranding and creating a Visual Design/UI that would accommodate over 300 separate online communities and editorial teams. Also, we decided to make the whole thing responsive(when responsive was fairly new) and participate in the Hoeffler & Freer Jones web font beta, all against a tight deadline.
  %figure.job-images.resume-slider
    %div
      =image_tag('logo-vox.png', :class => 'rsImg')
      %figure.rsCaption
    %div
      =image_tag('placeholder-1.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 2
    %div
      =image_tag('placeholder-2.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 3
    %div
      =image_tag('placeholder-3.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 4
.job-container.clearfix
  %ul.job-info
    %li.job-company
      AOL
      %span.job-location Dulles, VA
    %li.job-title Designer
    %li.job-date 2009-2010
  .job-description
    %p At Aol, I primarily designed for fanhouse.com, which is no longer with us. However, at the time it was a top-ten online sports news site, with significant readership and a strong product team. I also helped design mmafighting.com, which ironically Vox Media wound up acquiring from Aol, while I was at Vox.
  %figure.job-images.resume-slider
    %div
      =image_tag('logo-aol-1.png', :class => 'rsImg')
      %figure.rsCaption
    %div
      =image_tag('placeholder-1.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 2
    %div
      =image_tag('placeholder-2.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 3
    %div
      =image_tag('placeholder-3.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 4
.job-container.clearfix.last
  %ul.job-info
    %li.job-company
      AOL
      %span.job-location Dulles, VA
    %li.job-title Design Intern
    %li.job-date 2007-2009
  .job-description
    %p This was my first professional web experience. Through a series of unfortunate events all of the designers in my building got laid off, except for the two I worked with and one intern(me). As lame as that was, it worked out well for me because I ended up taking responsibility for significant design tasks that resulted in a rapid professional education and portfolio.
  %figure.job-images.resume-slider
    %div
      =image_tag('logo-aol-2.png', :class => 'rsImg')
      %figure.rsCaption
    %div
      =image_tag('placeholder-1.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 2
    %div
      =image_tag('placeholder-2.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 3
    %div
      =image_tag('placeholder-3.png', :class => 'rsImg')
      %figure.rsCaption
        %a{:href => "http://", :target => "_blank"} slide 4
#education
  %h2 Education
  %h5 Corcoran College of Art & Design
  %h6 BFA, Print Design & Digital Media
#skills
  %h2 Skills
  %ul
    %li
      %h4 front-end
    %li html5/SCSS
    %li responsive / mobile
    %li Javascript
    %li comfortable w/ js frameworks(angular, ember)
  %ul
    %li
      %h4 environment
    %li Ruby on Rails
    %li MVC in general
    %li git
    %li node.js
    %li remote integration
  %ul
    %li
      %h4 visual design
    %li UI layout
    %li UX interaction design
    %li photoshop, indesign, illustrator
= render "shared/footer"
//= render "static_pages/resume/footnote"