#project-slider {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#222;
  padding: 0 90px;
  display:none;
//  margin-left:-100%;
   -webkit-transition: margin 500ms;
  -moz-transition: margin 500ms;
  -o-transition: margin 500ms;
  transition: margin 500ms;
  .project-slider {
    height:300px;
    width:auto;
  }
  &, h2 {
    color:#efefef;
  }
  h2 {
    border-bottom:1px solid #efefef;
    padding-bottom:16px;
    margin-bottom:24px;
  }
  .resume-slider {
    position:relative;
    height:100px;
    .rsImg {
      width:70%;
    }
    .rsGCaption {
      position:absolute;
    }
  }
  .close-slider {
    position:absolute;
    top:32px;
    right:90px;
    opacity:.4;
    display:block;
    &:hover {
      opacity:1;
    }
    -webkit-transition: opacity 500ms;
   -moz-transition: opacity 500ms;
   -o-transition: opacity 500ms;
   transition: opacity 500ms;
  }
}