%header
  %h1
    John Fuller
    %h1
      %h3#what-he-do visual & interaction focused frontend developer
      %ul
        %li johnsfuller@gmail.com
        %li (202) 681-8640
        %li 216 W. Lorraine Ave
        %li Baltimore, MD 21211
