%header
  %h1
    =link_to('John Fuller', root_path)
  %h3#what-i-do 
    =link_to('visual & interaction focused frontend developer', root_path)
  %ul
    %li johnsfuller@gmail.com
    %li (202) 681-8640
    %li Canton Cove Marina
    %li Baltimore, MD
