@import "breakpoints";

body.resume {

  #summary p {
    line-height: 1.4;
    font-size: 18px;
  }

  .job-container {
    clear: both;
    margin-bottom: 32px;
    > *:nth-child(-n+2) {
      padding-right: 20px;
    }
    &.last {
      margin-bottom: 0px;
    }
  }

  .job-info, .job-description, .job-images {
    float: left;
  }

  .job-info {
    width: 25%;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom:12px;
    @media(max-width:$breakpoint-d) {
      width:70%;
    }
  }

  .job-company {
    text-transform: uppercase;
    span {
      text-transform: capitalize;
    }
  }

  .job-date, .job-company span {
    color: #b3b3b3;
  }

  .job-description {
    width: 45%;
    font-size: 14px;
    @media(max-width:$breakpoint-d) {
      width:70%;
    }
  }

  .job-images {
    position: relative;
    width: 30%;
    height: 140px;
    .rsCaption a {
      color: #777;
      font-style: italic;
      text-decoration: underline;
    }
  }

  #education {
    float: left;
    clear: both;
    width: 35%;
    h5 {
      max-width: 200px;
      margin-bottom: 6px;
    }
    @media(max-width:$breakpoint-d) {
      width:100%;
      h5 {
        max-width:100%;
      }
    }
  }

  #skills {
    float: left;
    width: 65%;
    ul {
      float: left;
      padding-right: 64px;
      width: 33%;
    }
    li {
      line-height: 1.6;
      &:nth-child(n+2) {
        list-style-type: initial;
      }
    }
    @media(max-width:$breakpoint-d) {
      width:100%;
    }
  }

  #what-he-do {
    position: relative;
    top: -16px;
    left: 16px;
  }
}