@import "breakpoints";

body.resume {


  a {
    color: #ddd;
  }
  .job-container {
    clear: both;
    margin-bottom: 32px;
    > *:nth-child(-n+2) {
      padding-right: 20px;
    }
    &.last {
      margin-bottom: 0px;
    }
  }

  .job-info, .job-description, .job-images {
    float: left;
  }

  .job-info {
    width: 25%;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom:12px;
    @media(max-width:$breakpoint-d) {
      width:70%;
    }
  }

  .job-company {
    text-transform: uppercase;
    span {
      text-transform: capitalize;
    }
  }

  .job-date, .job-company span {
    color: #b3b3b3;
  }

  .job-description {
    width: 45%;
    font-size: 14px;
    @media(max-width:$breakpoint-d) {
      width:70%;
    }
  }

  .job-images {
    position: relative;
    width: 30%;
    height: 140px;
    .rsCaption a {
      color: #777;
      font-style: italic;
      text-decoration: underline;
    }
  }

  #education {
    float: left;
    clear: both;
    width: 35%;
    padding-right:50px;
    h5 {
      max-width: 200px;
      margin-bottom: 6px;
    }
    @media(max-width:$breakpoint-d) {
      width:100%;
      h5 {
        max-width:100%;
      }
    }
    h6 {
      position:relative;
      .has-note {
        color:#3bd8ed;
      }
      &:hover {
        .note {
          display:block;
        }
      }
      .note {
        display:none;
        position:absolute;
        font-style:italic;
        color:#999;
        width:100%;
        border-top:1px dashed #ddd;
        margin-top:7px;
      }
    }
  }

  #skills {
    float: left;
    width: 65%;
    ul {
      float: left;
      padding-right: 64px;
      width: 33%;
    }
    li {
      line-height: 1.6;
      &:nth-child(n+2) {
        list-style-type: initial;
      }
    }
    @media(max-width:$breakpoint-d) {
      width:100%;
    }
  }


}