
.main
  %section#sbnu-cover-slide.slide
    #usain-bg
    #usain-cutout
    #usain-text
  %section#sbnu-editors-note.slide
    #note-wrap.interior-page
      %h2 SBNU
      %ul.table-of-contents
        %h2 CONTENTS
        %p.callout
          Branding by Frasier Davidson
          %p
            %li.toc-item
              %a.chapter-main{"data-index" => "3", :href => "#3"}
                %h4
                  Project Overview
                  %span …..
                  %span 1
            %li.toc-item
              %a.chapter-sub{"data-index" => "4", :href => "#4"}
                %h5
                  How it Was
                  %span …..
                  %span 2
            %li.toc-item
              %a.chapter-sub{"data-index" => "5", :href => "#5"}
                %h5
                  The plan
                  %span …..
                  %span 3
            %li.toc-item
              %a.chapter-main{"data-index" => "6", :href => "#6"}
                %h4
                  VISUAL DESIGN
                  %span …..
                  %span 4
            %li.toc-item
              %a.chapter-sub{"data-index" => "7", :href => "#7"}
                %h5
                  typography & Branding
                  %span …..
                  %span 5
            %li.toc-item
              %a.chapter-sub{"data-index" => "8", :href => "#8"}
                %h5
                  Responsive & Front End
                  %span …..
                  %span 6
            %li.toc-item
              %a.chapter-sub{"data-index" => "9", :href => "#9"}
                %h5
                  Interactions
                  %span …..
                  %span 7
            %li.toc-item
              %a.chapter-main{"data-index" => "10", :href => "#10"}
                %h4
                  FINAL PRODUCT
                  %span …...
                  %span 8
            %li.toc-item
              %a.chapter-sub{"data-index" => "11", :href => "#11"}
                %h5
                  community reception & client reception
                  %span …......
                  %span 9
            %li.toc-item
              %a.chapter-Main{"data-index" => "12", :href => "#12"}
                %h4
                  Project Sources
                  %span …......
                  %span 10
      .column
        %p
          sljf dslfk dslf dslf dld sn,ndfd fd,m sf,dm fdmdfsnf fs,dfn,s fd,
          %p
      .column
  %section#sbnu-vd.slide
    =image_tag('featured-sbnu/dwayne-wade.jpg')
    .right-50
      #sbnu-cover-text
        %h2 VISUAL
        %h2 DESIGN
        %h4.vd-deck A mind bendingly large & complex project
        %p The challenge was to rebuild an entire platform from the ground up,  redesign & rebrand 350 independent communites and also make it responsive.
        %p I art directed the SBNU project alongside an incredible team.
  %section#sbnu-type.slide
    #type-wrap.interior-page
      .left-40.sbnu-type-left{:id => ""}
        %h2 Typography
        %p Type was the backone of the visual design and we were lucky/brave enough to be part of the Hoeffler Freer & Jones webfont beta.
        =image_tag('featured-sbnu/big-s.png')
      .right-60.sbnu-type-right{:id => ""}
        %ul.left
          %li
            %span a.
            ziggurat
          %li
            %span b.
            sentinel
          %li
            %span c.
            knockout
        %ul.left
          %li
            %span d.
            mercury roman
          %li
            %span e.
            mercury roman italic
        %ul.left
          %li
            %span f.
            gotham med
          %li
            %span g.
            gotham med italic
        %p.clear.ziggurat-scale.scale
          %span aA
          %span aA
          %span aA
          %span aA
          %span aA
          %span aA
        %p.sentinel-scale.scale
          %span aA
          %span aA
          %span aA
          %span aA
          %span aA
          %span aA
        %p.knockout-scale.scale
          %span aA
          %span aA
          %span aA
          %span aA
          %span aA
          %span aA
        %p.mercury.sbnu-type-block Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones.
        %p.mercury-italic.sbnu-type-block Agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de poo.
        %p.gotham.sbnu-type-block Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones.
        %p.gotham-italic.sbnu-type-block Agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de poo.
  %section#sbnu-b-and-a.slide
    #b-and-a-wrap.interior-page
      #b-and-a-top-part
        %h2
          Before
          %span &
          %br
          %span after
        #b-and-a-controls
          %ul#device-types
            %li#desktop.active.device-option desktop
            %li#tablet.device-option tablet
            %li#mobile.device-option mobile
          %ul#page-types
            %li
              %p switch page
            %li
              %select#page-type
                %option{:value => "home"} home
                %option{:value => "article"} article
                %option{:value => "fanpost"} post
                %option{:value => "feature"} feature
          %ul#page-states
            %li#before.page-state-option before
            %li#after.page-state-option.active after
          %ul#page-colors
            %li.color-option.bg-black black
            %li.color-option.bg-faded-red red
            %li.color-option.bg-periwinkle blue
            %li.color-option.bg-cyan cyan
            %li.color-option.bg-brunswick-green.active-color green
            %li#pink.color-option.bg-mustard yellow
            %li.color-option.bg-orange orange
      #b-and-a-bottom-part
        #browser-frame.desktop
          =image_tag('featured-sbnu/frame-desktop.png', :id => 'device-frame')
          =image_tag('featured-sbnu/desktop-home-green-after.jpg', :class => 'screengrab')
  %section#sbnu-logo-system.slide
    #logo-system-wrap.interior-page
      =image_tag('featured-sbnu/logo-bmore-beatdown.png')
      %h2.logo-system-head
        logo
        %br
        system
      %p#logo-system-caption
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
  %section#sbnu-fraser.slide
    #fraser-wrap.interior-page
      =image_tag('featured-sbnu/fraser-bg.png', :id => 'fraser-img')
      %p#fraser-text
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
  %section#sbnu-reception.slide
    #fraser-wrap.interior-page
      reception