//%h4 Nate Mcgarigal Photography
.project-slider.rsDefault
  %div
    =image_tag("slide-nate-2.jpg", :class => "rsImg")
    %figure.rsCaption
      %h4 Nathan Mcgarigal Photography
      %span photography page
      The client wanted a portfolio site for his cinematography and photography work. He needed a custom design, the ability to able to manage content without using a canned solution. Building a simple CMS was out of his budget, so noticing that he keeps his work on Flickr and Vimeo I decided to populate his site using their APIs, allowing him to control content for a reasonable cost and with no learning curve.
  %div
    =image_tag("verge-mobile.jpg", :class => "rsImg")
    %figure.rsCaption
      %h4 The Verge mobile
      %span home page, article, etc, etc
      Lorem Ipsum. When The Verge launched responsive design was still too new for production, so a mobile site was in order. I had two weeks to build this and happened to be in another country at the time. It all worked out surprisingly well and with slight modification the same code is in place today.
  %div
    =image_tag("vox-editorial.jpg", :class => "rsImg")
    %figure.rsCaption
      %h4 VOX editorial planning tool
      %span main page
      Lorem Ipsum. Building inhouse tools was one of my favorite tasks at VOX Media. This is the editorial scheduling tool. 
=image_tag('close-button.png', :class => 'close-slider')