//%h2 Vakko Fashion
.project-slider.rsDefault
  %div
    =image_tag("slide-vakko-0.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span home page
      The website was developed using Ruby on Rails, HTML(haml), css(SCSS) and javascript. Content was delivered with the Flickr and Vimeo APIs. The visual design was put together using a combination of photoshop and the browser. The typeface used is Lato by ﾅ「kasz Dziedzic; webfonts delivered via google fonts.
  %div
    =image_tag("slide-vakko-1.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span home page
      The website was developed using Ruby on Rails, HTML(haml), css(SCSS) and javascript. Content was delivered with the Flickr and Vimeo APIs. The visual design was put together using a combination of photoshop and the browser. The typeface used is Lato by ﾅ「kasz Dziedzic; webfonts delivered via google fonts.
  %div
    =image_tag("slide-vakko-2.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span home page
      The website was developed using Ruby on Rails, HTML(haml), css(SCSS) and javascript. Content was delivered with the Flickr and Vimeo APIs. The visual design was put together using a combination of photoshop and the browser. The typeface used is Lato by ﾅ「kasz Dziedzic; webfonts delivered via google fonts.
  %div
    =image_tag("slide-vakko-3.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span home page
      The website was developed using Ruby on Rails, HTML(haml), css(SCSS) and javascript. Content was delivered with the Flickr and Vimeo APIs. The visual design was put together using a combination of photoshop and the browser. The typeface used is Lato by ﾅ「kasz Dziedzic; webfonts delivered via google fonts.
=image_tag('close-button.png', :class => 'close-slider')