//%h2 Vakko Fashion
.project-slider.rsDefault
  %div
    =image_tag("slide-vakko-0.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span home page
      %h4 Vakko Fashion
      Lorem Ipsum. This website was developed using Ruby on Rails, HTML(haml), css(SCSS) and javascript. I was responsible for the entirety of coding, front and backend. I was also entrusted with visual QA as my design background gives me a respect for the visual designers' placement of every last pixel.
  %div
    =image_tag("slide-vakko-1.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span men's handkercheifs
      Lorem Ipsum. Smooth transitions and subtle interactions were required to compliment the visual design. For a high resolution image driven site, fast load times can prove difficult. We managed to pull it off through careful handling of server requests and selection of imagery.
  %div
    =image_tag("slide-vakko-2.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span couture page
      Lorem Ipsum. Responsive design was an important requirement. The majority of the responsive design decision making was left in my hands to be done on the fly as time didn't permit the visual designers to mock up various device widths.
  %div
    =image_tag("slide-vakko-3.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span heritage page
      Lorem Ipsum. The strength of the visual designers made this site a pleasure to work on. A development link can be provided upon request.
=image_tag('close-button.png', :class => 'close-slider')