%h2 Vakko Fashion
.project-slider.rsDefault
  .project-intro.rsContent
    =image_tag("logo-big-vakko-.png")
    %h3 Frontend Development
    %p Vakko is a fashion brand. They sell clothes and other things. Todos los generadores de Lorem Ipsum que se encuentran en Internet tienden a repetir trozos predefinidos cuando sea necesario, haciendo a este el único generador verdadero.
    %p Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto.
    %figure.rsCaption 
    
  =image_tag("placeholder-1.png", :class => "rsImg")

=image_tag('close-button.png', :class => 'close-slider')