//%h2 Vakko Fashion
.project-slider.rsDefault.gallery
  %div
    =image_tag("slide-vakko-0.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span home page
      %h4 Client: Vakko Fashion 
      Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat era
  %div
    =image_tag("slide-vakko-1.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span men's handkercheifs
      %h4 Responsive 
      Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut
  %div
    =image_tag("slide-vakko-2.jpg", :class => "rsImg")
    %figure.rsCaption 
      %span couture page
      %h4 Backend Integration
      Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus.
=image_tag('close-button.png', :class => 'close-slider')