@font-face {
  font-family: 'ACaslonPro-Regular';
  src: 
    font-url('ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('ACaslonPro-Regular.otf')  format('opentype'),
    font-url('ACaslonPro-Regular.woff') format('woff'), 
    font-url('ACaslonPro-Regular.ttf')  format('truetype'), 
    font-url('ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ACaslonPro-Italic';
  src: 
    font-url('ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),  
    font-url('ACaslonPro-Italic.otf')  format('opentype'),
    font-url('ACaslonPro-Italic.woff') format('woff'), 
    font-url('ACaslonPro-Italic.ttf')  format('truetype'), 
    font-url('ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


