@font-face {
  font-family: 'ACaslonPro-Regular';
  src: 
    url('webfonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('webfonts/ACaslonPro-Regular.otf')  format('opentype'),
    url('webfonts/ACaslonPro-Regular.woff') format('woff'), 
    url('webfonts/ACaslonPro-Regular.ttf')  format('truetype'), 
    url('webfonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ACaslonPro-Italic';
  src: 
    url('webfonts/ACaslonPro-Italic.eot?#iefix') format('webfonts/embedded-opentype'),  
    url('webfonts/ACaslonPro-Italic.otf')  format('opentype'),
    url('webfonts/ACaslonPro-Italic.woff') format('woff'), 
    url('webfonts/ACaslonPro-Italic.ttf')  format('truetype'), 
    url('webfonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


